.portfolioHeader {
    text-align: center;
    color: white;

}

ul, ol {
    list-style-type: none;
    color: white;
}

.flex-row {
	display: flex;
	justify-content: space-evenly;
}

.card {
    width: 30rem;
	text-align: center;
    margin-bottom: 20px;
}

.card-body {
    margin-left: 10px;
    margin-right: 10px;
}

.card-title {
	font-size: 1.5rem;
}

.card-subtitle {
	font-size: 1rem;
}

.card-text {
	font-size: 16px;
	height: 2rem;
}

.card-image {
	max-width: 500px;
	max-height: 250px;
}

.card-link {
	font-size: 20px;
    line-height: 1.6;
    text-decoration: none !important;
    color: white;
}

.card-link:hover {
    color: greenyellow;
}