.portfolioHeader {
    text-align: center;
    color: white;

}

.flex-row {
	display: flex;
	justify-content: space-evenly;
}

.card {
	width: 25%;
	text-align: center;
}

.card-title {
	font-size: 1.5rem;
	color: var(--quaternary);
}

.card-subtitle {
	font-size: 1rem;
	color: var(--tertiary);
}

.card-text {
	font-size: 0.75rem;
	height: 8rem;
	color: var(--quinary);
}

.card-techs {
	font-size: 0.75rem;
	height: 4rem;
	color: var(--quinary);
}

.card-image {
	max-width: 300px;
	max-height: 150px;
}

.card-link {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 0.70rem;
}

li.padding::marker {
    display: none;
    font-size: 0.00000001%;
}