form {
	width: 40%;
    margin-top: 300px;
    margin-bottom: 300px;
    text-align: right;
    color: white;
}

input {
	font-size: 1rem;
	padding: 0.25rem;
	outline: none;
	border-radius: 3px;
	transition: box-shadow 0.2s;
	width: 600px;
}

input:focus {
	border: 2px solid greenyellow;
	box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

.button:hover {
    color: green;
}