.headerBtn {
    color: white;
    text-decoration: none !important;
    margin: 15px;
}

.headerBtn:hover {
    color: greenyellow;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    margin-bottom: 100px;
}