body {
  margin: 0;
  color: white;
  font-family: monospace;
  font-size: 30px;
}

.homepageWrap {
  overflow:scroll;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.homepageBackground {
  opacity: 0.2;
  position: fixed;
  width: 100%;
  height: 100vh;
}

.homepageContent {
  position: relative;
}